{%extends 'index.html'%}
{%block body_block%}


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body> -->
    <div class="text-center">
        <h2 style="color:#112066"><strong>Welcome Admin !</strong></h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 mt-5">
                <div class="border border-info text-center" style="background-color: #81cefa;">
                   <h6 style="color:#112066"> NewOrders   #   {{count}}

                    <a style="color:#112066" href="{%url 'neworders'%}">View</a> </h6>

                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
<!-- </body>
</html> -->
{%endblock%}